
.navbar {
    justify-content: flex-start;
  }
  
  .navbar-nav {
    margin-left: auto;
  }
  
  .navbar-nav .nav-item {
    margin-right: 15px;
  }
  

  .navbar-brand {
    margin-left: 0;
    margin-right: auto;
  }

  #home {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  #about, #portfolio, #contact {
    text-align: left;
  }
  
  .background-shapes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none; 
}

.shape {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgb(5, 55, 218); 
  border-radius: 50%;
  animation: moveShape 30s linear infinite;
}


@keyframes moveShape {
  0% {
    transform: scale(0) translate(-50%, -50%);
    opacity: 0;
  }
  20% {
    transform: scale(1) translate(calc(100% + 50px), calc(100% + 50px));
    opacity: 0.7;
  }
  49% {
    transform: scale(1) translate(calc(150% + 100px), calc(150% + 100px));
    opacity: 0;
  }
  51% {
    transform: scale(1) translate(150%, -50%);
    opacity: 0;
  }
  80% {
    transform: scale(1) translate(calc(100% - 50px), calc(100% + 50px));
    opacity: 0.7;
  }
  100% {
    transform: scale(1) translate(calc(-50% - 100px), calc(150% + 100px));
    opacity: 0;
  }
  
}




#about {
  text-align: left; 
  position: relative; 
}

.about-text {
  padding: 40px;
  position: relative;
  color: white;
  z-index: 2; 
}


.rectangle-appear {
  position: absolute;
  top: auto;
  left: -100%; 
  width: 1000px;
  height: 420px;
  background-image: linear-gradient(250deg, rgba(39, 6, 223, 0.776), rgba(5, 86, 217, 0.662) 90%);
  
  box-shadow: 0 4px 8px rgba(0, 4, 255, 0.993); 
  clip-path: polygon(0% 0%, 0% 100%, 70% 100%,90% 0%);
  animation: appearFromLeft 1s forwards;
}

@keyframes appearFromLeft {
  to {
    left: 0; 
  }
}







#skills {
  text-align: center;
}

.carousel-item img {
  max-height: 150px; 
}

.carousel-item h4 {
  margin-top: 20px;
}

.carousel-item .col-md-4:hover{
  transform: scale(1.1);
  transition: 0.4s;
}











.custom-carousel-button:hover {
  background-color: rgba(106, 106, 106, 0.34);
  width: 100px;
  height: 100px;
  opacity: 1;
  border-radius: 50%;
}



